.containerModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
}

.modalUsuarios{
    width: 800px;
    height: 80vh;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.modalUsuarios .contDatos {
    width: 100%;
    height: calc(100% - 50px);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.modalUsuarios .contDatos .contImagen{
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.modalUsuarios .contDatos .contImagen img{
    width: 100%;
    object-fit: cover;
}

.modalUsuarios .contDatos .contInformacion{
    width: calc(100% - 200px);
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
    padding-left: 20px;
}

.modalUsuarios .contDatos .contInformacion h2{
    margin-bottom: 20px;
}

.modalUsuarios .contDatos .contInformacion p{
    width: 100%;
    padding-left: 10px;
}

.modalUsuarios .contBtnModal{
    width: 100%;
    height: 50px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.modalUsuarios .contBtnModal button{
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
}

.modalUsuarios .contBtnModal .contBtnEspecial{
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modalUsuarios .contBtnModal .contBtnEspecial button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}